html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1;
  color: #141414;
  font-family: "Roboto", sans-serif;
}

.body-container {
  position: relative;
}

nav {
  padding: 1.2rem 5.2rem;
  background-color: #faa2c1;
  color: #141414;
}

.nav-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  column-gap: 5.2rem;
}

.nav-btn {
  display: none;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.nav-btn-icon {
  stroke: #000;
  width: 4rem;
  height: 4rem;
  transition: all 0.3s;
}

.nav-btn:hover .nav-btn-icon {
  stroke: #a61e4d;
}

.spy-media-logo {
  width: 7rem;
  border-radius: 50%;
}

.bigo-logo {
  width: 3rem;
}

.nav-items {
  justify-self: center;
  column-gap: 3.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 1.6rem;
}

.nav-item:link,
.nav-item:visited {
  color: #141414;
  padding: 0.5rem 0;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}

.nav-item:hover,
.nav-item:active {
  border-bottom: 2px solid #fff;
}

.nav-btn-box {
  justify-self: end;
}

.nav-signup-btn {
  padding: 1.2rem 2.4rem;
  border-radius: 100px;
  font-weight: 500;
  font-size: 1.6rem;
  transition: all 0.3s;
  color: #333;
}

.nav-signup-btn:hover {
  background-color: rgb(228, 228, 228);
}

.idol-img {
  width: 10rem;
}

.hero-section {
  padding: 4.8rem 0;
  flex-direction: column;
  height: 85vh;
  background-image: linear-gradient(to bottom, #faa2c1, #fff);
  background-size: cover;
  background-position: center;
}

.primary-heading {
  text-align: center;
  font-size: 6.4rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
  letter-spacing: 0.5rem;
  animation: moveRightLeft 1.5s 0.1s;
}

.primary-heading-description {
  font-size: 2.4rem;
  letter-spacing: 0.3rem;
  margin-bottom: 4.8rem;
  animation: moveLeftRight 1.5s 0.1s;
}

.hero-btn {
  position: relative;

  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 100px;
  letter-spacing: 0.2rem;
  font-size: 2rem;

  display: inline-block;
  color: #333;

  transition: all 0.2s ease-in;
}

.hero-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
}

.hero-btn::after {
  position: absolute;
  top: 0;
  left: 0;

  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
}

.hero-btn:hover::after {
  transform: scale(1.4, 1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
@keyframes moveRightLeft {
  0% {
    transform: translateX(-5%);
    opacity: 0;
  }

  50% {
    transform: translateX(5%);
    opacity: 0.5;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveLeftRight {
  0% {
    transform: translateX(5%);
    opacity: 0;
  }

  50% {
    transform: translateX(-5%);
    opacity: 0.5;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(200%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.require-benefit {
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  row-gap: 4.8rem;
}

.require-benefit h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
}

.require-benefit ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
  font-size: 1.6rem;
  line-height: 1.5;
}

.require-benefit li {
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
}

.require-icon {
  width: 3rem;
}

/* --------------------
        IDOLS-BOX
-------------------- */
.idols-box {
  width: 90%;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  border-radius: 5px;
  padding: 2.4rem;
  column-gap: 5px;
  margin-bottom: 6.8rem;
}

.idols {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 5px;
  grid-template-columns: repeat(6, 1fr);
  background-color: #fff;
}

.idols img {
  width: 100%;
  transition: all 0.3s ease-in;
}

.idols img:hover {
  transform: scale(1.5);
}

.hienthanh-img {
  grid-column: span 2;
  grid-row: span 2;
}

.idols-heading-box {
  border-top-right-radius: 2.4rem;
  border-bottom-right-radius: 2.4rem;
  padding: 0 2.4rem;
  background-color: #e64980;
}

.idols-heading-box h2 {
  font-size: 5.2rem;
  font-weight: 500;
  text-align: center;
  color: #fff;
}

/* --------------------
        FOOTER
-------------------- */
footer {
  background-color: #f6f5f4;
  padding-bottom: 3.2rem;
  padding-top: 3.2rem;
}

.sologan {
  font-size: 2rem;
  text-align: center;
  line-height: 1.5;
  font-weight: 500;
  color: #a61e4d;
}

.sologan span {
  display: block;
}

.footer-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 3.2rem 3.2rem 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 4.5fr;
  column-gap: 9.6rem;
  row-gap: 1.2rem;
}

.company-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.4rem;
}

.spy-logo {
  width: 40%;
  border-radius: 50%;
}

.medias-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
}

.medias {
  margin-bottom: 2rem;
}

.media {
  margin: 1.2rem;
}

.media-logo {
  width: 2.4rem;
}

.copyright {
  color: #5f5f5f;
}

.company-infors {
  grid-row: 1 / span 2;
  grid-column: 2;
  align-self: center;
}

.company-infors h3 {
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-size: 2.4rem;
}

.company-infors p {
  margin-bottom: 1.6rem;
  color: #5f5f5f;
  line-height: 1.5;
}

/* ----------------------
      INTRODUCTION
---------------------- */
.introduction {
  padding: 9.6rem 0;
}

.team-img {
  width: 60%;
  margin-bottom: 8px;
}

.introduction .img-description {
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
  color: #333;
}

.introduction .content {
  padding: 0 9.6rem;
  font-size: 1.8rem;
  line-height: 1.8;
  color: #111;
  margin-bottom: 1.2rem;
}

.component {
  padding: 6.4rem 0;
}

.sub-heading {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  margin-bottom: 1.6rem;
  text-transform: uppercase;
}

.heading-secondary {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 4.8rem;
}

.steps {
  column-gap: 1.2rem;
}

.step {
  width: 100%;
  row-gap: 1.2rem;
}

.step p {
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.5;
}

.intro-icon {
  height: 5rem;
  width: 5rem;
  padding: 1rem;
  background-color: #fff0f6;
  border-radius: 50%;
}

.right-icon {
  height: 4rem;
  width: 4rem;
}

th {
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.2rem 2.4rem;
  font-size: 1.8rem;
}

td {
  text-align: center;
  padding: 1.2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.td-border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.testimonial {
  background-color: #e64980;
  padding: 4.4rem;
  border-radius: 1rem;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 2.4rem;
  align-items: center;
}

.hienthanh-testimonial-img {
  width: 100%;
  border-radius: 5px;
  border: 5px solid #fff;
}

.share {
  color: #fff;
  font-size: 1.8rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

.share p {
  margin-bottom: 1.2rem;
  font-weight: 400;
}

.share-2 {
  grid-column: 1 / span 2;
  margin-bottom: 1.2rem;
}

.qoute {
  display: flex;
  justify-content: center;
  grid-column: 1 / span 2;
  width: 100%;
}

.qoute p {
  font-style: italic;
  font-weight: 500;
  font-size: 1.6rem;
  color: #fff;
}

.side-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  border-radius: 1rem;
  padding: 1.2rem 4px 0 4px;
}

.side-bar-container {
  row-gap: 1.2rem;
  position: relative;
}

.link-container {
  position: absolute;
  top: -250%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 1s;
}

.side-link img {
  width: 5rem;
}

.side-btn {
  padding: 3px 0;
  background-color: transparent;
  border-radius: 5px;
  z-index: 1;
}

.up-icon {
  width: 6rem;
  height: 6rem;
}
